*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background-image: url(img/3fondo.jpg);
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: monospace;
}

nav{
    overflow: hidden;
    background-color: #333;
    text-align: right;
    padding: 0.5%;

    

}



#title{
    margin-top: 1%;
    color: #000000;
    font-weight: 800;
    padding: 2%;
  }

  .row{
    height: max-content;
    padding: 0%;

  }
  .fc fc-unthemed fc-ltr{
   position: absolute;
   padding: 0%;

}


  #calendar {
    margin: 10%;
    align-content: center;
    background-color: aliceblue;
    padding: 5%;
    height: 10%;
    border-radius: 5%; 
    box-shadow: 0 0 15px rgb(22, 21, 21);

  }

  .fc-view-container{
    height: 100%;
    width: 100%;
  }

.form-reserva {
    width: 400px;
    background: linear-gradient(120deg, rgba(248,246,251,1) 0%, rgb(131, 133, 138) 100%);
    padding: 5%;
    align-content: center;
    margin-top: 20%;
    border-radius: 4px;
    font-family: "calibri";
    color: rgb(0, 0, 0);
    box-shadow: 0 0 15px rgb(22, 21, 21);
    
}

.form-reserva h4{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.controls{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid #00123a;
    font-family: "calibri";
    font-size: 18px;
}

.form-reserva p{
    font-size: 18px;   
}


.form-reserva .boton{
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(170deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 32%, rgba(0,212,255,1) 100%);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px; 
}
