*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(imagen/fondo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: monospace;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;

}
nav > a{
    color: aliceblue;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;

}
nav > a:hover{
    text-decoration: underline;
} 

.table {
    width: 200px;
    background: rgba(138, 5, 226, 0.774);
    padding: 10px;
    margin: auto;
    margin-top: 40px;
    border-radius: 4px;
    box-shadow: 0 0 10px #333;
}

.table td{
    font-family: "calibri";
    color: #fff;
}

